[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.14"

[dev-packages]
uvicorn = "==0.35.0"
pre-commit = "==4.0.1"
pytest = "==8.3.4"
pytest-cov = "==5.0.0"

[requires]
python_version = "3.12"
